{% extends 'wotclient/layout/thing.html' %}

{% block 'thing_content' %}
    <div class="list-group">
        {% for k,v in events.items %}
            <div class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5>{{k}}</h5>
                        <small>{{ v.description }}</small>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribe-event-{{k}}">Subscribe</button>
                </div>
                <div class="modal fade" id="subscribe-event-{{k}}" tabindex="-1" aria-labelledby="subscribe-event-{{k}}-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="subscribe-event-{{k}}-label">Subscribe to {{k}} event on {{ thing.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" class="text-center d-flex flex-column">
                                    {% csrf_token %}
                                    <input type="hidden" name="event_id" value="{{k}}">
                                    <label for="field-thing-uuid">Thing UUID</label>
                                    <input type="text" name="thing_uuid" id="field-thing-uuid">
                                    <label for="field-action-name">Action Name (custom)</label>
                                    <input type="text" name="custom_action_name" id="field-action-name" class="w-100">
                                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
