{% extends 'wotclient/layout/base.html' %}
{% block 'content' %}
    {% if things %}
        <h1 class="display-4">Things on the network</h1>
        <ul class="list-group">
            {% for k, v in things.items %}
                <li class="list-group-item list-group-item-action">
                    <a href="{% url 'thing_single_properties' k %}">
                        <div class="w-100">
                            <h5>{{ v.name }}</h5>
                            <small>{{ v.description }}</small>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1 class="display-4">There aren't any things</h1>
    {% endif %}
{% endblock %}
